

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}
/*--- Navigation ---*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(45, 44, 17, 0.8) !important;
    font-family: 'Century Gothic';
}
.navbar-brand img{
    height: 2rem;
}
.navbar-nab li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #E3DF58!important ;
    }

/*--- Landing Page ---*/

.home-inner {
    background-image: url('pictures/tiger.jpg');
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;  
}
.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem; 
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes animate{
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
    text-transform: none;
}
.btn-lg {
    border: 0 !important;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 2.1rem;
}
.btn-outline-light {
    color: #E3DF58 !important;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
   .btn-outline-light:hover {
        color: #716f2c !important;
        background: #e8e579 !important;
        box-shadow: 0 0 10px #e8e579, 0 0 40px #e8e579, 0 0 80px #e8e579;
        transition-delay: 5s !important;
    }
/*--- News Section ---*/
.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
.btn-secondary {
    color: #2d2c11 !important;
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    background-color: #E3DF58 !important;
}
    .btn-secondary:hover {
        color: #e3df58 !important;
        background: #2d2c11 !important;
        box-shadow: 0 0 10px #2d2c11, 0 0 40px #2d2c11, 0 0 80px #2d2c11;
        transition-delay: 5s !important;
    }

.card {
    margin-top: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 600px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: 0.5s;
}
    .card .front img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition:0.5s;
}
    .card:hover .front {
        transform: rotateX(-180deg);
    }
    .card .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        backface-visibility: hidden;
        transform: rotateX(180deg);
        transition: 0.5s;
    }
        .card .back:before {
            content:'';
            position:absolute;
            top:0;
            left: -50%;
            width: 100%;
            height:100%;
            background: rgba(255,255,255,0.1);
        }
        .card:hover .back {
            transform: rotateX(0deg);
        }
    .card .back .details {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        left: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }
    .card .back .details h2{
        margin: 0;
        padding: 0;
        font-size: 24px;
        color: #E3DF58;
    }
        
    .card .back .details h2 span{
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #a7a7a7;
    }
/*--- Calculator Section ---*/

.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}
h3 .heading {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #E3DF58;
    margin: 0 auto 2rem;
}
.calculator svg.svg-inline--fa {
    color: #E3DF58 !important ;
}
.calculator h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}
.calculator p {
    font-size: 1.1rem;
}

/*--- Find Store Section ---*/

.fixed {
    background-image: url('pictures/bg2.jpg');
    z-index: -1;
}
.dark {
    background-color: rgba(0, 0, 0, 0.75); 
    color: white;
    padding: 7rem 2rem;
}
.fixed-background h3 {
    margin-bottom: 2rem;
}
.fixed-background p {
    margin-top: 1.5rem;
}

/*--- About Section ---*/
.about img {
    width: 100%;
    border-radius: 50%;
}
blockquote .svg-inline--fa {
    color: #E3DF58;
    margin: 1rem;
}
about-hr {
    border-top: .05rem solid #E3DF58;
}

/*--- Contact Section ---*/

footer {
    background-color: #2d2c11;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}
footer img {
    height: 3rem;
    margin: 1.5rem 0;
}
footer a {
    color: white;
}
    footer a:hover {
        color: #E3DF58;
    }

    footer svg.svg-inline--fa {
        font-size: 1.6rem;
        margin: 1.2rem .5rem 0 0;
    }

        footer svg.svg-inline--fa:hover {
            color: #E3DF58!important;
        } 
hr .socket {
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}

/*-- Media Queries --*/
@media (max-width: 767px) {
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .narrow h1 {
        font-size: 1.5rem;
    }
    .about img {
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }
}